<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div class="container slider">
        <!-- enumerate all photos -->
        <img **ngFor="let image in images" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"
             ng-show="isActive($index)" [src]="image.imageURL"/>
        <!-- prev / next controls -->
        <a class="arrow prev" href="#" (click)="showPrev()"></a>
        <a class="arrow next" href="#" (click)="showNext()"></a>
        <!-- extra navigation controls -->
        <ul class="nav">
            <li *ngFor="let image in images" ng-class="{'active':isActive($index)}">
                <img [src]="{{image.imageURL}}"
                     (click)="showPhoto($index);"/>
            </li>
        </ul>
    </div>

</div>