<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <!--<div class="container slider">-->
        <!--&lt;!&ndash; enumerate all photos &ndash;&gt;-->
        <!--<img **ngFor="let image in images" class="slide" (swipeleft)="showPrev()" (swipeleft)="showNext()"-->
             <!--**ngIf="isActive($index)" [src]="image.imageURL"/>-->
        <!--&lt;!&ndash; prev / next controls &ndash;&gt;-->
        <!--<a class="arrow prev" href="#" (click)="showPrev()"></a>-->
        <!--<a class="arrow next" href="#" (click)="showNext()"></a>-->
        <!--&lt;!&ndash; extra navigation controls &ndash;&gt;-->
        <!--<ul class="nav">-->
            <!--<li *ngFor="let image in images" ng-class="{'active':isActive($index)}">-->
                <!--<img [src]="{{image.imageURL}}"-->
                     <!--(click)="showPhoto($index);"/>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</div>