<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <button (click)="getRoomTypes()" style="width: 150px; height: 50px;">click get room Types</button>
    <table style="width: 800px;">
        <thead>
            <th>Name</th>
            <th></th>
            <th>Image Info</th>
            <th>Image Id</th>
        </thead>
        <tr *ngFor="let roomType of roomTypes">
            <td>{{roomType.name}}</td>
            <td>
                <img [src]='./app/assets/images/logo.jpg'
                     [style.width.px]='50'
                     [style.margin.px]='20'>
            </td>

            <td>{{roomType.imageInfo}}</td>
            <td>{{roomType.imageId}}</td>
        </tr>
    </table>
</div>