<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav"  *ngIf="authority() == 'ADMIN'">
                <li><a [routerLink]="['/welcome']">Home Admin</a></li>
                <li><a [routerLink]="['/products']">Products</a></li>
                <li><a [routerLink]="['/admin/users']">Users</a></li>
                <li><a [routerLink]="['/admin/rooms']">Rooms</a></li>
                <li><a [routerLink]="['/admin/images']">Images</a></li>
                <li><a [routerLink]="['/admin/promotions']">Promotions</a></li>
                <li><a [routerLink]="['/admin/payments']">Payments</a></li>
                <li><a [routerLink]="['/admin/bookings']">Bookings</a></li>
                <li><a [routerLink]="['/admin/commissions']">Commissions</a></li>
                <li><a (click)='logout()'>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav"  *ngIf="authority() == 'CUSTOMER'">
                <li><a [routerLink]="['/welcome']">Home Customer</a></li>
                <li><a [routerLink]="['/products']">Products</a></li>
                <li><a [routerLink]="['/customer/rooms']">Rooms</a></li>
                <li><a [routerLink]="['/customer/promotions']">Promotions</a></li>
                <li><a [routerLink]="['/customer/payments']">Payments</a></li>
                <li><a [routerLink]="['/customer/bookings']">Bookings</a></li>
                <li><a (click)='logout()'>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav"  *ngIf="authority() == 'STAFF'">
                <li><a [routerLink]="['/welcome']">Home Staff</a></li>
                <li><a [routerLink]="['/products']">Products</a></li>
                <li><a [routerLink]="['/staff/customers']">Customers</a></li>
                <li><a [routerLink]="['/staff/rooms']">Rooms</a></li>
                <li><a [routerLink]="['/staff/promotions']">Promotions</a></li>
                <li><a [routerLink]="['/staff/payments']">Payments</a></li>
                <li><a [routerLink]="['/staff/bookings']">Bookings</a></li>
                <li><a (click)='logout()'>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav" *ngIf="authority() == 'null' || authority() == null">
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li><a [routerLink]="['/login']">Login</a></li>
            </ul>
        </div>
    </nav>
</div>