<div class='panel panel-primary'>
    <!--<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>-->
    <div class="panel-body" style="width: 700px;">
        <form class="form-horizontal" novalidate
              (ngSubmit)="save()"
              [formGroup]="roomForm">
            <fieldset>
                <div class="form-group"
                     [ngClass]="{'has-error': (roomForm.get('roomName').touched ||
                                              roomForm.get('roomName').dirty) &&
                                              !roomForm.get('roomName').valid }">
                    <label class="col-md-3 control-label"
                           for="roomNameId">Room Name</label>
                    <div class="col-md-7">
                        <input class="form-control"
                               id="roomNameId"
                               type="text"
                               placeholder="Room Name (required)"
                               formControlName="roomName"/>
                        <span class="help-block" *ngIf="(roomForm.get('roomName').touched ||
                                                         roomForm.get('roomName').dirty) &&
                                                         roomForm.get('roomName').errors">
                        <span *ngIf="roomForm.get('roomName').errors.required">
                            Please enter your room name.
                        </span>
                        <span *ngIf="roomForm.get('roomName').errors.minlength">
                            The room name must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="numOfPeopleId">Number of people</label>
                    <div class="col-md-7">
                        <select class="form-control"
                                id="numOfPeopleId"
                                formControlName="numOfPeople">
                            <option value="" disabled selected hidden>Select num of people</option>
                            <!--<option *ngFor="let item of [1,2,3,4]" [value]="item" [selected]="numOfPeople===item">{{item}}</option>-->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="numOfBedsId">Number of Beds</label>
                    <div class="col-md-7">
                        <select class="form-control"
                                id="numOfBedsId"
                                formControlName="numOfBeds">
                            <option value="" disabled selected hidden>Select num of beds</option>
                            <!--<option *ngFor="let item of [1,2]" [value]="item" [selected]="numOfBeds===item">{{item}}</option>-->
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="typeOfBedsId">Type of Bed</label>
                    <div class="col-md-7">
                        <select class="form-control"
                                id="typeOfBedsId"
                                formControlName="typeOfBeds">
                            <option value="" disabled selected hidden>Select type of bed</option>
                            <option value="Double Bed & Single Bed">Double Bed & Single Bed</option>
                            <option value="Double Bed">Double Bed</option>
                            <option value="Single Bed">Single Bed</option>
                            <option value="2 Double Beds">2 Double Beds</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!roomForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>