<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
        <table class="table table-bordered table-hover" style="width: 500px;">
            <thead style="color: #337AB7">
                <th class="col-sm-1">Id</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2">Role</th>
                <th class="col-sm-2"></th>
            </thead>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button type="button" class="btn btn-link" (click)="editUser(user)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
    <!--<ng2-smart-table [settings]="settings" [source]="users"></ng2-smart-table>-->
</div>