<div class='panel panel-primary'>
    <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
        <table class="table table-bordered table-hover" style="width: 500px;">
            <thead style="color: #337AB7">
                <th class="col-sm-1">Id</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2">Role</th>
            </thead>
            <tr *ngFor="let user of users, let idx = $index">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>
                    <select class="form-control" (change)="onSelectChange($event, user)">
                        <option *ngFor="let role of roles" [selected]="user.role === role.value"
                                value="{{role.key}}">{{role.value}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary"
                type="button" [disabled]="saveDisabled" (click)="save()">
            Save
        </button>
    </div>
</div>