<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
</div>

<div class="panel-footer">
    <div class="panel-body">
        <!--<div>{{product.productName}}</div>-->
        <div>{{product.productCode}}</div>
        <div>{{product.releaseDate}}</div>
        <div>{{product.price}}</div>
        <div>{{product.description}}</div>
        <div>{{product.starRating}}</div>
        <div><img [src]='product.imageUrl'></div>
    </div>
    <a class="btn btn-default" (click)='onBack()' style="width: 80px">
        <i class="glyphicon glyphicon-chevron-left"></i>Back
    </a>
</div>