<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <button type="button" class="btn btn-info" (click)="backIndividualList()">Back</button>
        <button type="button" class="btn btn-warning" (click="editIndividual()")>Edit</button>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row top-buffer'>
                    <div class='col-md-3'>First name:</div>
                    <div class='col-md-6'>{{individual.firstName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Middle name:</div>
                    <div class='col-md-6'>{{individual.middleName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Last name:</div>
                    <div class='col-md-6'>{{individual.lastName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Birthday:</div>
                    <div class='col-md-6'>{{individual.birthday}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Gender:</div>
                    <div class='col-md-6'>{{individual.gender}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Email:</div>
                    <div class='col-md-6'>{{individual.email}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Phone number:</div>
                    <div class='col-md-6'>{{individual.phoneNumber}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>User name:</div>
                    <div class='col-md-6'>{{individual.userName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Roles:</div>
                    <div class='col-md-6'>{{individual.roles}}</div>
                </div>
            </div>
            <div class='col-md-4'>
                <img [src]="individual.imageURL" [title]="individual.imageInfo" style="width: 384px; height: 300px;"/>
            </div>
        </div>
    </div>
</div>