<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate
              (ngSubmit)="save()"
              [formGroup]="individualForm">
            <fieldset>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('firstName').touched ||
                                              individualForm.get('firstName').dirty) &&
                                              !individualForm.get('firstName').valid }">
                    <label class="col-md-2 control-label"
                           for="firstNameId">First Name</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="firstNameId"
                               type="text"
                               placeholder="First Name (required)"
                               formControlName="firstName"/>
                        <span class="help-block" *ngIf="(individualForm.get('firstName').touched ||
                                                         individualForm.get('firstName').dirty) &&
                                                         individualForm.get('firstName').errors">
                        <span *ngIf="individualForm.get('firstName').errors.required">
                            Please enter your first name.
                        </span>
                        <span *ngIf="individualForm.get('firstName').errors.minlength">
                            The first name must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('middleName').touched ||
                                              individualForm.get('middleName').dirty) &&
                                              !individualForm.get('middleName').valid }">
                    <label class="col-md-2 control-label"
                           for="middleNameId">Middle Name</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="middleNameId"
                               type="text"
                               placeholder="Middle Name (required)"
                               formControlName="middleName"/>
                        <span class="help-block" *ngIf="(individualForm.get('middleName').touched ||
                                                         individualForm.get('middleName').dirty) &&
                                                         individualForm.get('middleName').errors">
                        <span *ngIf="individualForm.get('middleName').errors.required">
                            Please enter your middle name.
                        </span>
                        <span *ngIf="individualForm.get('middleName').errors.minlength">
                            The middle name must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('lastName').touched ||
                                              individualForm.get('lastName').dirty) &&
                                              !individualForm.get('lastName').valid }">
                    <label class="col-md-2 control-label"
                           for="middleNameId">Last Name</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="lastNameId"
                               type="text"
                               placeholder="Last Name (required)"
                               formControlName="lastName"/>
                        <span class="help-block" *ngIf="(individualForm.get('lastName').touched ||
                                                         individualForm.get('lastName').dirty) &&
                                                         individualForm.get('lastName').errors">
                        <span *ngIf="individualForm.get('lastName').errors.required">
                            Please enter your last name.
                        </span>
                        <span *ngIf="individualForm.get('lastName').errors.minlength">
                            The last name must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('birthday').touched ||
                                              individualForm.get('birthday').dirty) &&
                                              !individualForm.get('birthday').valid }">
                    <label class="col-md-2 control-label"
                           for="birthdayId">Birthday</label>
                    <div class="col-md-6">
                        <input class="form-control"
                               id="birthdayId"
                               type="text"
                               placeholder="Birthday (required)"
                               formControlName="birthday"/>
                        <span class="help-block" *ngIf="(individualForm.get('birthday').touched ||
                                                         individualForm.get('birthday').dirty) &&
                                                         individualForm.get('birthday').errors">
                        <span *ngIf="individualForm.get('birthday').errors.required">
                            Please enter your birthday.
                        </span>
                        <span *ngIf="individualForm.get('birthday').errors.minlength">
                            The birthday must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                    <div class="col-md-2">
                        <a href="#" (click)="openCalendar()">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                        <span class="input-group-addon btn">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <label class="input-group-btn" >
        <span class="btn btn-default">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="genderId">Gender</label>
                    <div class="col-md-8">
                        <select class="form-control"
                                id="genderId"
                                formControlName="gender">
                            <option value="" disabled selected hidden>Select a Gender...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="emailGroup"
                     [ngClass]="{'has-error': individualForm.get('emailGroup').errors }">

                    <div class="form-group"
                         [ngClass]="{'has-error': emailMessage}">
                        <label class="col-md-2 control-label"
                               for="emailId">Email</label>

                        <div class="col-md-8">
                            <input class="form-control"
                                   id="emailId"
                                   type="email"
                                   placeholder="Email (required)"
                                   formControlName = "email" />
                            <span class="help-block" *ngIf="emailMessage">
                                {{ emailMessage }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group"
                         [ngClass]="{'has-error': (individualForm.get('emailGroup.confirmEmail').touched ||
                                                  individualForm.get('emailGroup.confirmEmail').dirty) &&
                                                  !individualForm.get('emailGroup.confirmEmail').valid }">
                        <label class="col-md-2 control-label"
                               for="confirmEmailId">Confirm Email</label>

                        <div class="col-md-8">
                            <input class="form-control"
                                   id="confirmEmailId"
                                   type="email"
                                   placeholder="Confirm Email (required)"
                                   formControlName = "confirmEmail" />
                            <span class="help-block" *ngIf="(individualForm.get('emailGroup.confirmEmail').touched ||
                                                            individualForm.get('emailGroup.confirmEmail').dirty) &&
                                                            (individualForm.get('emailGroup.confirmEmail').errors ||
                                                             individualForm.get('emailGroup').errors)">
                                <span *ngIf="individualForm.get('emailGroup.confirmEmail').errors?.required">
                                    Please confirm your email address.
                                </span>
                                <span *ngIf="individualForm.get('emailGroup').errors?.match">
                                    The confirmation does not match the email address.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('phoneNumber').touched ||
                                              individualForm.get('phoneNumber').dirty) &&
                                              !individualForm.get('phoneNumber').valid }">
                    <label class="col-md-2 control-label"
                           for="phoneNumberId">Phone Number</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="phoneNumberId"
                               type="text"
                               placeholder="Phone number (required)"
                               formControlName="phoneNumber"/>
                        <span class="help-block" *ngIf="(individualForm.get('phoneNumber').touched ||
                                                         individualForm.get('phoneNumber').dirty) &&
                                                         individualForm.get('phoneNumber').errors">
                        <span *ngIf="individualForm.get('phoneNumber').errors.required">
                            Please enter your phone number.
                        </span>
                        <span *ngIf="individualForm.get('phoneNumber').errors.minlength">
                            The phone number must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('userName').touched ||
                                              individualForm.get('userName').dirty) &&
                                              !individualForm.get('userName').valid }">
                    <label class="col-md-2 control-label"
                           for="userNameId">User name</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="userNameId"
                               type="text"
                               placeholder="Username (required)"
                               formControlName="userName"/>
                        <span class="help-block" *ngIf="(individualForm.get('userName').touched ||
                                                         individualForm.get('userName').dirty) &&
                                                         individualForm.get('userName').errors">
                        <span *ngIf="individualForm.get('userName').errors.required">
                            Please enter your username.
                        </span>
                        <span *ngIf="individualForm.get('userName').errors.minlength">
                            The username must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (individualForm.get('roles').touched ||
                                              individualForm.get('roles').dirty) &&
                                              !individualForm.get('roles').valid }">
                    <label class="col-md-2 control-label"
                           for="rolesId">Roles</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="rolesId"
                               type="text"
                               placeholder="Roles (required)"
                               formControlName="roles"/>
                        <span class="help-block" *ngIf="(individualForm.get('roles').touched ||
                                                         individualForm.get('roles').dirty) &&
                                                         individualForm.get('roles').errors">
                        <span *ngIf="individualForm.get('roles').errors.required">
                            Please enter your roles.
                        </span>
                        <span *ngIf="individualForm.get('roles').errors.minlength">
                            The roles must be longer than 3 characters.
                        </span>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!individualForm.valid">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                                    type="button"
                                    (click)="populateTestData()">
                                Test Data
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>