<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/logo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
    </div>
    <!--<div id="fountainG">-->
        <!--<div id="fountainG_1" class="fountainG"></div>-->
        <!--<div id="fountainG_2" class="fountainG"></div>-->
        <!--<div id="fountainG_3" class="fountainG"></div>-->
        <!--<div id="fountainG_4" class="fountainG"></div>-->
        <!--<div id="fountainG_5" class="fountainG"></div>-->
        <!--<div id="fountainG_6" class="fountainG"></div>-->
        <!--<div id="fountainG_7" class="fountainG"></div>-->
        <!--<div id="fountainG_8" class="fountainG"></div>-->
    <!--</div>-->
    <div class="bubblingG">
        <span id="bubblingG_1">
        </span>
            <span id="bubblingG_2">
        </span>
            <span id="bubblingG_3">
        </span>
    </div>
</div>